version: "3.8"

services: 
  # backend:
  #   build: .
  #   container_name: ecommerce-backend
  #   ports:
  #     - "5000:5000"
  #   env_file:
  #     - .env
  #   depends_on:
  #     - redis
  #   volumes:
  #     - ./src:/app/backend/node_modules

  redis:
     image: redis:latest
     container_name: mern-ecommerce
     ports:
        - "6379:6379"
     volumes:
        - redis-data:/data
     restart: unless-stopped
     command: redis-server --appendonly yes

volumes: 
    redis-data: